.TopContainer{
    display: inline-block;
    position: relative;
    background-color: antiquewhite;
    height: 200px;
    width: 200px;
    bottom: 91.1px;
}
.BottomContainer{
    display: inline-block;
    /* position: relative; */
    height: 200px;
    width: 200px;
    /* bottom: 400px;
    left: 400px; */
    background-color: blue;
}
.MidContainer{
    display: inline-block;
    /* position: relative; */
    height: 200px;
    width: 200px;
    /* bottom: 200px;
    left: 200px; */
    background-color: red;
}
p{
    display: inline-block;
}

/* h1{
    padding: 0%;
    margin: 0%;
} */